* {
    -dark-green-color: #006664;
    -darker-green-color: #005250;
    -light-green-color: #b2bb1e;
    -dark-gray-color: #74787B;
    -light-gray-color: #e4e4e4;
    -white-color: #ffffff;
    -lighter-green-color: #00bf63;
    -light-red-color: #ff5757;
    -red-color: #e72b2b;
    -blue-color: #3a3aff;
    -black-color: #000000;
}

.dark-gray-background{
    -fx-background-color: -dark-gray-color;
}

.dark-green-background{
    -fx-background-color: -dark-green-color;
}

.light-gray-background{
    -fx-background-color: -light-gray-color;
}

.lighter-green-background{
    -fx-background-color: -lighter-green-color;
}

.light-red-background{
    -fx-background-color: -light-red-color;
}

.navigation-button{
    -fx-background-radius: 0;
    -fx-background-color: transparent;
    -fx-background-insets: 0;
    -fx-border-radius: 0;
    -fx-border-insets: 0;
    -fx-border-style: none;
    -fx-border-width: 0;
    -fx-opacity: 1;
}

.navigation-button:hover{
    -fx-background-color: transparent;
    -fx-opacity: 1;
    -fx-underline: true;
}

.navigation-button:focused{
    -fx-underline: true;
}

.navigation-button:pressed{
}

.navigation-button-background{
    -fx-background-color: -light-green-color;
    -fx-background-radius: 0;
    -fx-background-insets: 0;
    -fx-border-radius: 0;
    -fx-border-insets: 0;
    -fx-border-style: none;
    -fx-border-width: 0;
}

.button-green{
    -fx-background-color: -dark-green-color;
    -fx-border-radius: 40;
    -fx-background-radius: 40;
    -fx-border-width: 0;
    -fx-text-fill: -white-color;
    -fx-background-insets: 0;
}

.button-green:hover{
    -fx-background-color: -darker-green-color;
}

.button-green:focused{
    -fx-background-color: -darker-green-color;
}

.button-red{
    -fx-background-color: -light-red-color;
    -fx-border-radius: 40;
    -fx-background-radius: 40;
    -fx-border-width: 0;
    -fx-text-fill: -white-color;
    -fx-background-insets: 0;
}

.button-red:hover{
    -fx-background-color: -red-color;
}

.button-red:focused{
    -fx-background-color: -red-color;
}

.my-text-field{
    -fx-background-insets: 0;
    -fx-border-insets: 0;
    -fx-background-color: -white-color;
    -fx-border-color: -dark-gray-color;
    -fx-text-fill: -dark-gray-color;
    -fx-border-radius: 40;
    -fx-background-radius: 40;
    -fx-border-width: 2;
}

.button-link{
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-progress-color: transparent;
}

.button-link:focused{
    -fx-border-color: -blue-color;
}

.name-team-list-view {
    -fx-font-size: 16;
}

.my-combo-box {
    -fx-background-color: -dark-green-color;
    -fx-border-radius: 40;
    -fx-background-radius: 40;
    -fx-border-width: 0;
    -fx-background-insets: 0;
}

.my-combo-box .list-cell {
    -fx-font-size: 11;
    -fx-text-fill: -white-color;
    -fx-font-weight: bold;
    -fx-background-color: -dark-green-color;
    -fx-background-radius: 40;
    -fx-border-insets: 0;
    -fx-border-width: 0;
}

.event-item-box:hover {
    -fx-background-color: -light-gray-color;
}

.my-scroll-pane {
    -fx-background-color: transparent;
    -fx-background-insets: 0;
}

.my-scroll-pane > .viewport {
    -fx-background-color: transparent;
}

.my-scroll-pane:focused {
}

.my-scroll-pane .scroll-bar:vertical {
    -fx-border-insets: 0;
    -fx-border-color: transparent;
    -fx-background-color: transparent;
    -fx-progress-color: #000000;
}

.my-scroll-pane .scroll-bar .thumb {
    -fx-background-color:derive(black,99%);
    -fx-background-insets: 0, 0, 0;
    -fx-background-radius: 20;
}

.my-text-field-green{
    -fx-background-insets: 0;
    -fx-border-insets: 0;
    -fx-background-color: #ffffff;
    -fx-border-color: -dark-green-color;
    -fx-text-fill: #737373;
    -fx-border-radius: 40;
    -fx-background-radius: 40;
    -fx-border-width: 2;
}
.border-change-left:hover{
    -fx-background-radius: 25 50 25 50;
}
.border-change-right:hover{
    -fx-background-radius: 50 25 50 25;
}

.progress-indicator{
    -fx-progress-color: -dark-green-color
}


/* All page use  */

.vbox-background{
    -fx-background-color: -white-color;
}


.header-background{
    -fx-background-color: -dark-gray-color ;
}

.header-title{
    -fx-font-size: 46;
    -fx-text-fill: -white-color ;
}

.topic{
    -fx-font-size: 38;
    -fx-text-fill: -black-color ;
}

/* Profile page */

.subtopic{
    -fx-font-size: 26;
    -fx-text-fill: -black-color ;
}

.info{
    -fx-font-size: 18;
    -fx-text-fill: -black-color ;
}

/*  change Profile and password*/

.label-popup{
    -fx-font-size: 8;
    -fx-text-fill: -black-color ;
}

/**/

.label-20{
    -fx-font-size: 16;
    -fx-text-fill: -black-color ;
}

.label-16{
    -fx-font-size: 12;
    -fx-text-fill: -black-color ;
}

.label-18{
    -fx-font-size: 14;
    -fx-text-fill: -black-color ;
}

.label-40{
    -fx-font-size: 34;
    -fx-text-fill: -black-color ;
}

.label-22{
    -fx-font-size: 18;
    -fx-text-fill: -black-color ;
}

.label-font-red{
    -fx-text-fill: -red-color ;
}

.label-font-green{
    -fx-text-fill : -darker-green-color;
}

.label-font-bold{
    -fx-font-weight: bold;
}
